<%- include('partials/header', { cssFile: '/css/error.css', }) %>

<main class="not-found">
  <div class="not-found__container">
    <h1 class="not-found__title">404</h1>
    <img
      class="not-found__image"
      src="/images/SouthPark.png"
      alt="Rainbow Kitten"
    />
  </div>
</main>

<%- include('partials/footer') %>
